<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="ATB11xSeleniumAdvanceFramework">
        <classes>
            <class name="com.thetestingacademy.tests.pageObjectModelTests.vwo.TestVWOLogin_01_NormalScript_POM">
        </class>
            <class name="com.thetestingacademy.tests.pageObjectModelTests.vwo.TestVWOLogin_02_PropertyReader_DriverManager_POM_CommonToAll">
            </class>
        </classes>
    </test>
</suite>